<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>MedicineServlet</servlet-name>
        <servlet-class>Controllers.ListMedicine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyServlet</servlet-name>
        <servlet-class>Controllers.ListCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedDetailServlet</servlet-name>
        <servlet-class>Controllers.DetailsMedicine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyDetailsServlet</servlet-name>
        <servlet-class>Controllers.DetailsCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountServlet</servlet-name>
        <servlet-class>Controllers.CreateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controllers.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedDelete</servlet-name>
        <servlet-class>Controllers.DeleteMedicine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComDelete</servlet-name>
        <servlet-class>Controllers.DeleteCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMedicine</servlet-name>
        <servlet-class>Controllers.UpdateMedicine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCompany</servlet-name>
        <servlet-class>Controllers.CreateCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateIngre</servlet-name>
        <servlet-class>Controllers.CreateIngredent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateMedicineServlet</servlet-name>
        <servlet-class>Controllers.CreateMedicine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMedicineServlet</servlet-name>
        <servlet-class>Controllers.SearchMedicine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccount</servlet-name>
        <servlet-class>Controllers.UpdateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCompany</servlet-name>
        <servlet-class>Controllers.UpdateCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMedicineOfCompany</servlet-name>
        <servlet-class>Controllers.GetMedicineOfCompany</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngredentServlet</servlet-name>
        <servlet-class>Controllers.ListIngredent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMedicineOfIngredent</servlet-name>
        <servlet-class>Controllers.GetMedicineOfIngredent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngredentDelete</servlet-name>
        <servlet-class>Controllers.DeleteIngredent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateIngredent</servlet-name>
        <servlet-class>Controllers.UpdateIngredent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaginationMedicine</servlet-name>
        <servlet-class>Controllers.PaginationMedicine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MedicineServlet</servlet-name>
        <url-pattern>/getMedicine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyServlet</servlet-name>
        <url-pattern>/getCSKD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedDetailServlet</servlet-name>
        <url-pattern>/medDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyDetailsServlet</servlet-name>
        <url-pattern>/companyDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountServlet</servlet-name>
        <url-pattern>/newAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedDelete</servlet-name>
        <url-pattern>/medDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComDelete</servlet-name>
        <url-pattern>/companyDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMedicine</servlet-name>
        <url-pattern>/updMed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCompany</servlet-name>
        <url-pattern>/newCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateIngre</servlet-name>
        <url-pattern>/newIngre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateMedicineServlet</servlet-name>
        <url-pattern>/newMed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMedicineServlet</servlet-name>
        <url-pattern>/searchMed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccount</servlet-name>
        <url-pattern>/updateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCompany</servlet-name>
        <url-pattern>/updateCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMedicineOfCompany</servlet-name>
        <url-pattern>/getMedOfCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngredentServlet</servlet-name>
        <url-pattern>/getIngre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMedicineOfIngredent</servlet-name>
        <url-pattern>/getMedByIngre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngredentDelete</servlet-name>
        <url-pattern>/ingreDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateIngredent</servlet-name>
        <url-pattern>/updateIngre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginationMedicine</servlet-name>
        <url-pattern>/pageMed</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainPage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
